header,
section,
aside,
footer {
	background-color: black;
	min-height: 100px;
}

header {
	margin-bottom: 15px;
	height: 150px;
}

footer {
	margin-top: 15px;
	height: 150px;
}

.columns {
	display: flex;
	height: 300px;
}

aside.left {
	width: 15%;
	margin-right: 2%;
}

section {
	width: 66%;
}

aside.right {
	width: 15%;
	margin-left: 2%;
}