@import url('https://fonts.googleapis.com/css?family=Arimo:400, 700');

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
     -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    font-size: calc(.87em + 1.3vw);
}

body {
    width: 100%;
	background-color: #141415;
	transition: background-color 0.5s linear;
    color: #eaeaea;
    font-family: 'Arimo', 'sans-serif';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

ul {
    list-style: none;
}

img {
	filter: grayscale(100%);
    transition: filter 300ms; 
}

img:hover, img:active {
	filter: none;
}


/* Header Jump Fix */

.anchor {
	display: block;
	padding-top: 100px;
	margin-top: -100px;
}


/* Site Header */

#site-header {
	position: fixed;
	background: #141415;
	width: 100vw;
	text-transform: uppercase;
	font-size: 1rem;
	color: #141415;
	top: 0;
	z-index: 1000;
	transition: all 0.3s ease;
}

#site-header .bnwBar {
	padding: .70rem 0 calc(.72rem) 0;
	float: left;
	margin-left: 7vw;
}

#site-header .menuOuter {
	padding: .70rem 0 calc(.72rem) 0;
	float: right;
	width: 50vw;
	background-color: #eaeaea;
	cursor: pointer;
}

#site-header .menuOuter .menu {
	text-align: right;
	margin-right: 7vw;
	background-color: #eaeaea;
}

#site-header .bnwBar .bnwContent .bnw .wide {
	display: none;
}

#site-header .bnwBar .bnwContent .bnw div a {
	text-decoration: none;
	color: #eaeaea;
}

#site-header .navBar {
	display: none;
	background: #eaeaea;
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: none;
}


#site-header .navBar .navContent {
	margin: 0 4px;
	padding: .48rem 0 calc(.57rem - 3px) 0;
}

#site-header .navBar .navContent ul {
	margin: 0;
	display: block;
	margin: auto;
	text-align: center;
}

#site-header .navBar .navContent ul li {
	display: inline-block;
	padding-right: 4vw;
}

#site-header .navBar .navContent ul li:last-child {
	padding-right: 0px;
}

#site-header .navBar .navContent .nav li a{
	text-decoration: none;
	color: #141415;
}

#site-header .navBar .navContent ul li a:hover,
#site-header .navBar .navContent ul li a:active {
	border-bottom: 1.25px solid #141415;
}


/* Cover Picture */

#cover-pic {
	height: calc(100vh + 3px);
	background-image: url("../img/bnw.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	background-attachment: absolute;
	border-bottom: 3px solid #eaeaea;
	color: #eaeaea;
}


#cover-pic .coverCenter {
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

#cover-pic .coverCenter .coverLogo {
	position: relative;
	-webkit-perspective: 1000px;
			perspective: 1000px;
	padding: 10vh 5vw 10vh 5vw;
	width: 100%;
	text-transform: uppercase;
}

#cover-pic .coverCenter .coverLogo .bnwLogo {
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	transition: all 0s linear;
	-webkit-animation: rotation 13s linear infinite;
			animation: rotation 13s linear infinite;
}
  
#cover-pic .bnwLogo > h1 {
	position: absolute;
	font-size: 8.4vw;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden; 
}

#cover-pic .coverCenter .coverLogo .bnwLogo .bnwText {
	text-transform: uppercase;
	line-height: 1;
	color: #E2E2E2;
	transition: all .5s ease-in-out;
	margin: 0;
}

#cover-pic .bnwLogo .back {
	display: block;
	-webkit-transform: rotateY(360deg);
			transform: rotateY(180deg);
	box-sizing: border-box;
}

#cover-pic .bnwText::after {
	display: none; 
}


@-webkit-keyframes rotation {
	0% {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg); }
	50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
	100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } 
}


@keyframes rotation {
	0% {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg); }
	50% {
    -webkit-transform: rotateY(180deg);
			transform: rotateY(180deg); }
	100% {
    -webkit-transform: rotateY(360deg);
			transform: rotateY(360deg); } 
}

#cover-pic .coverInfo {
	margin: auto;
	text-align: center;
	max-width: 60%;
	padding-top: calc(49vh + 2vw);
}

#cover-pic .coverInfo h3 {
	font-size: .94rem;
}


/* About Section */

#about {
	height: 100%;
	margin-bottom: 80px;
}

#about .aboutTitle {
	width: 100%;
	margin-top: 80px;
}

#about .aboutTitle h2 {
	height: 100%;
	text-align: center;
	margin: auto;
}

#about .aboutBody {
	width: 100%;
	margin-top: 0;
	padding-bottom: 0;
}

#about .aboutBody h3 {
	font-size: .6rem;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 7px;
	margin-left: 14.5vw;
}

#about .aboutBody p {
	font-size: .85rem;
	line-height: 1.6;
	width: 65%;
	margin: auto;
	padding-top: 8px;
}

#about .aboutBody .aboutImages {
	padding-right: 6.1%;
	margin-top: 100px;
	margin-bottom: 100px;
	height: auto;
}

#about .aboutBody .aboutImages figure .image1 {
	margin-left: 6vw;
	width: 60%;
	margin-bottom: 40px;
}

#about .aboutBody .aboutImages figure .image2 {
	margin-left: 37.8vw;
	margin-bottom: -.5rem;
	width: 60%;
}

#about .aboutBody .aboutImages figure figcaption {
	font-size: .6rem;
}

#about .aboutBody .aboutImages figure .fig1 {
	position: relative;
	margin-left: calc(5.9vw + .5rem);
	margin-top: -15px;
}

#about .aboutBody .aboutImages figure .fig2 {
	transform: rotate(-90deg);
	position: absolute;
	transform-origin: top left;
	margin-left: calc(38vw - 1.25rem);
}

#about .aboutBody .aboutLinks {
	margin-top: 2.25rem;
}

#about .aboutBody .aboutLinks p {
	font-size: .55rem;
	margin-top: -5px;
	margin-bottom: 10px;
	border-top: 3px solid #eaeaea;
}

#about .aboutBody .aboutLinks .lower {
	padding-bottom: 5px;
	border-bottom: 3px solid #eaeaea;
}

#about .aboutBody .aboutLinks p a {
	color: #eaeaea;
	text-decoration: none;
	margin-left: .8vw;
}

#about .aboutBody .aboutLinks p a:hover,
#about .aboutBody .aboutLinks p a:active {
	border-bottom: 1.25px solid #eaeaea;
}

#about .aboutBody .aboutLinks img {
	padding-left: .4rem;
	height: 1.5rem;
	width: 1.5rem;
	margin-left: 0;
	margin-bottom: 0;
	padding-right: 0;

}


/* Program Section */

#program {
	height: 100%;
}

#program .programTitle {
	width: 100%;
	margin-top: 80px;
}

#program .programTitle h2 {
	height: 100%;
	text-align: center;
	margin: auto;
}

#program .programDates {
	margin-left: 14.5vw;
}

#program .programDates h3 {
	display: inline-block;
	font-size: .6rem;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 7px;
	padding-right: 1rem;
	text-align: left;
	color: #eaeaea;
}

#program .programDates .h3Hide {
	color: #969696;
}

#program .programTimes {
	width: 100%;
	font-size: .55rem;
	margin-top: 25px;
}

#program .programTimes p {
	font-size: .72rem;
	line-height: 1.5;
	width: 65%;
	margin: auto;
	margin-bottom: 13px;
	position: relative;
	padding-left: .8vw;
	padding-bottom: 15px;
	border-bottom: 3px solid #eaeaea;
}

#program .programTimes p:first-child {
	border-top: 3px solid #eaeaea;
	padding-top: 15px;
}

#program .programTimes p span {
	padding-left: 14vw;
	position: absolute;
	display: block;
	margin-top: -1.07rem;
}

.wedTimes {
	display: inline-block;
}

.thursTimes {
	display: none;
}

.friTimes {
	display: none;
}


/* Gallery */

.galleryImages {
	display: none;
}


/* FAQ */

#faq {
	height: 100%;
}

#faq .faqTitle {
	width: 100%;
	margin-top: 80px;
}

#faq .faqTitle h2 {
	height: 100%;
	text-align: center;
	margin: auto;
}

#faq .faqBody {
	width: 100%;
	margin-top: 0;
}

#faq .faqBody h3 {
	font-size: .6rem;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 2rem;
	margin-left: 14.5vw;
}

#faq .faqBody .h3Active {
	color: #eaeaea;
}

#faq .faqBody .h3Hide {
	color: #969696;
}

#faq .faqBody p {
	font-size: .85rem;
	line-height: 1.5;
	width: 60%;
	margin-left: 20%;
	margin-top: calc(-2rem + 5px);
	padding-top: 8px;
	margin-bottom: 50px;
}

#faq .faqBody p a {
	color: #eaeaea;
	text-decoration: none;
}

#faq .faqBody p a:hover,
#faq .faqBody p a:active {
	border-bottom: 1.25px solid #eaeaea;
}

#faq .faqBody .pHide {
	visibility: hidden;
	height: 1rem;
}


/* Tickets */

#tickets {
	height: 100%;
}

#tickets .ticketsTitle {
	width: 100%;
	margin-top: 80px;
}

#tickets h2 {
	height: 100%;
	text-align: center;
	margin: auto;
}

#tickets .ticketsBody {
	width: 100%;
	margin-top: 0;
	padding-bottom: 2rem;
}

#tickets h3 {
	font-size: .6rem;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 14.5vw;
}

#tickets p {
	font-size: .85rem;
	line-height: 1.5;
	width: 65%;
	margin: auto;
	margin-bottom: 2rem;
}

#tickets .ticketsPrices {
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 30px;
}

#tickets .ticketsPrices p {
	margin-bottom: 0;
}

#tickets .ticketsPrices span {
	padding-left: 14vw;
	position: absolute;
	display: block;
	margin-top: -1.28rem;
}

.ticketsEmail {
	font-size: .55rem;
	margin-left: 17.6%;
	padding-top: 15px;
	margin-bottom: 30px;
}

.ticketsEmail a {
	text-decoration: none;
	color: #eaeaea;
}

.ticketsEmail a:hover,
.ticketsEmail a:active {
	border-bottom: 1.25px solid #eaeaea;
}

.ticketsText {
	padding-top: 15px;
}

.ticketsText button {
	margin-left: 17.6%;
	background-color: #eaeaea;
	padding: .35rem 1.2rem;
	text-transform: uppercase;
	font-size: .75rem;
}

.ticketsText button a {
	color: #413932;
	text-decoration: none;
}


/* Footer */

footer {
	height: 100%;
	margin-top: 1.9rem;
	border-top: 3px solid #eaeaea;
	background-color: #141415;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
}

.footerTitle {
	margin-top: 1rem;
	margin-left: 7%;
	font-size: 2.5rem;
}

.footerLinks {
	margin-top: -2.85rem;
	font-size: .6rem;
	margin-left: 75%;
}

.footerLinks a {
	color: #eaeaea;
	text-decoration: none;
}

.footerLinks a:hover,
.ticketsEmail a:active {
	border-bottom: 1.25px solid #eaeaea;
}

.footerRights {
	margin-left: 7%;
	font-size: .44rem;
	margin-top: -.55rem;
}


/* Landscape phones */

@media (min-width: 576px) {

#footer .footerTitle {
	font-size: 2.8rem;
}

#footer .footerLinks {
	margin-left: 76%;
	font-size: 1rem;
}

.footerRights {
	font-size: .5rem;
	margin-top: -.15rem;
}

}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {

#site-header {
	font-size: 24px;
	height: auto;
}

#site-header .menuOuter {
	display: none;
}

#site-header .bnwBar {
	padding: 11px 0;
	float: none;
	margin-left: 0;
}

#site-header .bnwBar .bnwContent {
	margin: auto;
	text-align: center;
}

#site-header .bnwBar .bnwContent .bnw .wide {
	display: block;
}

#site-header .bnwBar .bnwContent .bnw .thin {
	display: none;
}

#site-header .navBar {
	display: inline-block;
}

#site-header .navBar .navContent {
	margin: 0 100px;
	padding: 6px 0;
}

#site-header .navBar .navContent ul li {
	padding-right: 60px;
}


/* Cover Picture */

#cover-pic .coverCenter {
	top: 47%;
}
@media (min-width: 1000px) {
	#cover-pic .coverCenter {
		top: 44%;
	}
}
@media (min-width: 1200px) {
	#cover-pic .coverCenter {
		top: 42%;
	}
}
@media (min-height: 750px) {
	#cover-pic .coverCenter {
		top: 42%;
	}
}
@media (min-height: 900px) {
	#cover-pic .coverCenter {
		top: 41%;
	}
}

#cover-pic .coverCenter .coverLogo {
	padding: 10vh 10vw 10vh 10vw;
}
  
#cover-pic .bnwLogo > h1 {
	font-size: 7.75vw;
}
@media (min-width: 1000px) {
	#cover-pic .bnwLogo > h1 {
		font-size: 7.5vw;
	}
}

#cover-pic .coverInfo {
	max-width: 58%;
	padding-top: calc(50vh + 3vw);
}
@media (min-height: 750px) {
	#cover-pic .coverInfo {
		padding-top: 55vh;
	}
}

#cover-pic .coverInfo h3 {
	font-size: 1rem;
}


/* Program */

#program .programDates {
	margin-left: 14.2vw;
}


/* Gallery */

.galleryImages {
	display: block;
	padding-right: 6.1%;
	margin-top: 100px;
	padding-bottom: 50px;
	height: auto;
	position: relative;
}

.galleryImages .image1 {
	margin-left: 50vw;
	width: 48%;
}

.galleryImages .image2 {
	margin-left: 5.3vw;
	width: 30%;
	margin-top: -30px;
}

.galleryImages .image3 {
	margin-left: 41.5vw;
	width: 46%;
	margin-top: -48px;
}

.galleryImages .image4 {
	margin-left: 18vw;
	width: 25%;
	margin-top: 90px;
}

.galleryImages .image5 {
	margin-left: 59vw;
	width: 35%;
	margin-top: -90px;
}

.galleryImages .image6 {
	margin-left: 10vw;
	width: 48%;
	margin-top: -35px;
}


/* Footer */

.footerTitle {
	margin-top: 1rem;
	font-size: 3rem;
}

.footerLinks {
	margin-top: -3.35rem;
	font-size: .85rem;
	margin-left: 78%;
}

.footerRights {
	font-size: .55rem;
	margin-top: -.85rem;
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}

	